@mixin before_circle {
    &:before {
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        z-index: -1;
        top: -25%;
        left: 0;
        background: $main-color;
    }
}
@mixin before_line {
    &:before {
        content: '';
        position: absolute;
        width: 6px;
        height: 2px;
        left: -11px;
        background-color: #ffa501;
        transform: translateY(7px);
    }
}