@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        &__wrapper {
            column-gap: 28px;
            grid-template-columns: 400px 520px;
        }
        &__skills {
            column-gap: 20px;
            &-item {
                column-gap: 9px;
                grid-template-columns: 37px 211px;
            }
        }
    }
    .title {
        text-shadow: 1px 2px 5px #9e9e7a61;
    }
    .resume {
        &__wrapper {
            padding: 40px 20px 0 20px;
            column-gap: 80px;
        }
    }
    .skills {
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
                overflow: hidden;
            }
        }
    }
    .price {
        &__wrapper {
            grid-template: repeat(2,minmax(45px,auto))/repeat(2,325px);
            row-gap: 15px;
            column-gap: 150px;
            padding: 0px 53px;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 350px 540px;
            justify-content: space-around;
        }
        &__form {
            grid-template-rows: 40px 124px 44px;
            grid-template-columns: repeat(2,262px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .divider {
        margin: 0 auto;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            margin-top: 0;
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
                &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .resume {
        &__wrapper {
            column-gap: 60px;
            grid-template-columns: repeat(2,320px);
        }
    }
    .skills {
        &__items {
            padding: 0 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;
            padding: 0;
            column-gap: 0;
            &-line {
                width: 100%;
            }
        }
    }
    .price {
        &__wrapper {
            column-gap: 33px;
            grid-template-columns: repeat(auto-fit,460px);
            justify-content: center;
            padding: 0;
            margin-top: 20px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 540px;
        }
        &__photo {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .about {
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .promo {
        &__title {
            width: 385px;
            line-height: 30px;
        }
    }
    .title {
        &_fz48 {
            font-size: 35px;
        }
    }
    .menu {
        &__link {
            font-size: 18px;
            line-height: 23px;
            text-shadow: 1px 2px 5px #9e9e7a61;
            &:before {
                top: 4px;
            }
        }
        &__block {
            width: 250px;
            padding-top: 100px;
            padding-left: 20px;
        }
        &__close {
            svg {
                width: 20px;
                height: 20px;
            }
        }
        &__social {
            bottom: 25px;
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            column-gap: 60px;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__items {
            padding: 0;
            justify-content: center;
            gap: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            margin-top: 40px;
            &-line {
                width: 100%;
            }
        }
    }
    .portfolio {
        padding-top: 40px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100% !important;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
            width: 300px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .promo {
        background-size: 138% auto;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340 auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 5px 0 5px;
        }
    }
    .skills {
        &__items {
            margin-top: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit,300px);
        }
    }
    // .contacts {
    //     padding: 70px 0 70px 0;
    //     &__wrapper {
    //         grid-template-columns: 500px;
    //     }
    //     &__form {
    //         grid-template-rows: 40px 120px 45px;
    //         grid-template-columns: repeat(2,235px);
    //     }
    // }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
@media (max-width: 320px) {
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 295px);
        }
        &__item {
            &-title {
                &::before {
                    display: none;
                }
            }
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 196px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}
}