.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/stas01.jpg') no-repeat 40%/auto;
    padding-top: 205px;
    background-position: 0% 30%;
    background-size: 142% auto;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        z-index: 2;
        padding-left: 10px;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 260px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        font-weight: 700;
        color: #000;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}