.resume {
    padding-top: 70px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            height: 1px;
            width: 45px;
            position: absolute;
            background-color: #000;
            top: 30px;
        }
        &-head {
            position: relative;
            padding: 10px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            margin-top: 12px;
            padding-left: 43px;
        }
        &-icon {
            position: absolute;
            top: 14px;
            left: 45px;
            @include before_circle;
            img {
                position: absolute; //можно с transform
                left: 17px;
                top: 14px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
        }
        &-body {
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            @include before_circle-litle;
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 31px); //сумма + топ
                    position: absolute;
                    top:-31px;
                    left: 0;
                    background-color: #000;
                }
            }
        }
    }
    &__column .resume__item {
        &-ul {
            padding-left: 15px;
            li {
                position: relative;
                @include before_line;
                &:after {
                    width: 0;
                }
            }
        }
    }
}